.header {
    background: #fff;
    border-bottom: 1px solid #e4e3e3;
    text-align: center;
}

.header__inner {
    margin: 10px auto;
}

.header__logo {
    color: #8a7a6a;
    text-decoration: none;
    font-size: 50px;
    font-family: serif;
}

.contact-form__content {
    text-align: center;
    padding-bottom: 10px;
}

.contact-form__heading {
    color: #8a7a6a;
    font-size: 25px;
    font-family: serif;
}
